<footer class="text-muted py-5">
	<div class="container">
		<p class="float-end mb-1">
			<a href="/">Back to Home</a>
		</p>
		<p class="mb-1">Ruby on Rails</p>
		<p class="mb-1">Hotline: 0389141150 (Mr Son)</p>
	</div>
</footer>